/**
 * Phantom Emoji theme
 */


.emojified .emoji {
    display: none;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    font-size: 1px;
    background-repeat: no-repeat; 
    overflow: hidden;
    /* 32 pixels by default */
    background-image: url(../img/emoji-phantom-32.tiny.png);
    padding: 0 0 0 33px;
    height: 33px;
}

/* 64px override */
h1 .emojified .emoji,
.emoji-64 .emojified .emoji {
    background-image: url(../img/emoji-phantom-64.tiny.png);
    padding: 0 0 0 65px;
    height: 65px;
}

/* 25px override */
small .emojified .emoji,
.emoji-25 .emojified .emoji {
    background-image: url(../img/emoji-phantom-25.tiny.png);
    padding: 0 0 0 26px;
    height: 26px;
}




/* sprite */
.emoji-anchor { background-position: 7.701422% 0; }
.emoji-angry_face { background-position: 15.402844% 0; }
.emoji-anguished { background-position: 23.104265% 0; }
.emoji-apple_of_discord { background-position: 30.805687% 0; }
.emoji-assault_rifle { background-position: 38.507109% 0; }
.emoji-astonished_face { background-position: 46.208531% 0; }
.emoji-bactrian_camel { background-position: 53.909953% 0; }
.emoji-beer_mug { background-position: 61.611374% 0; }
.emoji-bento_box { background-position: 69.312796% 0; }
.emoji-bgok { background-position: 77.014218% 0; }
.emoji-blowfish { background-position: 84.715640% 0; }
.emoji-blush { background-position: 92.417062% 0; }
.emoji-boar { background-position: 100.118483% 0; }
.emoji-bowtie { background-position: 0 7.701422%; }
.emoji-bus_stop { background-position: 7.701422% 7.701422%; }
.emoji-cactus { background-position: 15.402844% 7.701422%; }
.emoji-cake { background-position: 23.104265% 7.701422%; }
.emoji-cancer { background-position: 30.805687% 7.701422%; }
.emoji-car { background-position: 38.507109% 7.701422%; }
.emoji-cat_face { background-position: 46.208531% 7.701422%; }
.emoji-cat_face_with_tears_of_joy { background-position: 53.909953% 7.701422%; }
.emoji-cat_face_with_wry_smile { background-position: 61.611374% 7.701422%; }
.emoji-chicken { background-position: 69.312796% 7.701422%; }
.emoji-circled_ideograph_secret { background-position: 77.014218% 7.701422%; }
.emoji-cloud { background-position: 84.715640% 7.701422%; }
.emoji-confused { background-position: 92.417062% 7.701422%; }
.emoji-couple_holding_hands { background-position: 100.118483% 7.701422%; }
.emoji-couple_in_love { background-position: 0 15.402844%; }
.emoji-couple_with_heart { background-position: 7.701422% 15.402844%; }
.emoji-crescent_moon { background-position: 15.402844% 15.402844%; }
.emoji-crying_cat_face { background-position: 23.104265% 15.402844%; }
.emoji-crying_face { background-position: 30.805687% 15.402844%; }
.emoji-cutting_lines { background-position: 38.507109% 15.402844%; }
.emoji-cyclone { background-position: 46.208531% 15.402844%; }
.emoji-dancer { background-position: 53.909953% 15.402844%; }
.emoji-disappointed_but_relieved_face { background-position: 61.611374% 15.402844%; }
.emoji-disappointed_face { background-position: 69.312796% 15.402844%; }
.emoji-dizzy_face { background-position: 77.014218% 15.402844%; }
.emoji-dog_face { background-position: 84.715640% 15.402844%; }
.emoji-drunk { background-position: 92.417062% 15.402844%; }
.emoji-elephant { background-position: 100.118483% 15.402844%; }
.emoji-expressionless { background-position: 0 23.104265%; }
.emoji-extraterrestrial_alien { background-position: 7.701422% 23.104265%; }
.emoji-face_savouring_delicious_food { background-position: 15.402844% 23.104265%; }
.emoji-face_with_look_of_triumph { background-position: 23.104265% 23.104265%; }
.emoji-face_with_medical_mask { background-position: 30.805687% 23.104265%; }
.emoji-face_with_no_good_gesture { background-position: 38.507109% 23.104265%; }
.emoji-face_with_ok_gesture { background-position: 46.208531% 23.104265%; }
.emoji-face_with_open_mouth_and_cold_sweat { background-position: 53.909953% 23.104265%; }
.emoji-face_with_tear_of_joy { background-position: 61.611374% 23.104265%; }
.emoji-family { background-position: 69.312796% 23.104265%; }
.emoji-family_daughters { background-position: 77.014218% 23.104265%; }
.emoji-fearful_face { background-position: 84.715640% 23.104265%; }
.emoji-first_quarter_moon { background-position: 92.417062% 23.104265%; }
.emoji-fish_cake_with_swirl_design { background-position: 100.118483% 23.104265%; }
.emoji-fisted_hand_sign { background-position: 0 30.805687%; }
.emoji-flushed { background-position: 7.701422% 30.805687%; }
.emoji-frog_face { background-position: 15.402844% 30.805687%; }
.emoji-frowning { background-position: 23.104265% 30.805687%; }
.emoji-full_moon { background-position: 30.805687% 30.805687%; }
.emoji-gakuengine { background-position: 38.507109% 30.805687%; }
.emoji-genshin { background-position: 46.208531% 30.805687%; }
.emoji-gentleman_octopus { background-position: 53.909953% 30.805687%; }
.emoji-ghost { background-position: 61.611374% 30.805687%; }
.emoji-Giorgio { background-position: 69.312796% 30.805687%; }
.emoji-glowing_star { background-position: 77.014218% 30.805687%; }
.emoji-grimacing { background-position: 84.715640% 30.805687%; }
.emoji-grin { background-position: 92.417062% 30.805687%; }
.emoji-grinning { background-position: 100.118483% 30.805687%; }
.emoji-grinning_cat_face_with_smiling_eyes { background-position: 0 38.507109%; }
.emoji-groupme { background-position: 7.701422% 38.507109%; }
.emoji-guitar { background-position: 15.402844% 38.507109%; }
.emoji-hamburger { background-position: 23.104265% 38.507109%; }
.emoji-happijar { background-position: 30.805687% 38.507109%; }
.emoji-Happy_FMC { background-position: 38.507109% 38.507109%; }
.emoji-happy_person_raising_one_hand { background-position: 46.208531% 38.507109%; }
.emoji-hatching_chick { background-position: 53.909953% 38.507109%; }
.emoji-hear_no_evil_monkey { background-position: 61.611374% 38.507109%; }
.emoji-heart { background-position: 69.312796% 38.507109%; }
.emoji-heart_eyes { background-position: 77.014218% 38.507109%; }
.emoji-high_voltage_sign { background-position: 84.715640% 38.507109%; }
.emoji-horse { background-position: 92.417062% 38.507109%; }
.emoji-hot_beverage { background-position: 100.118483% 38.507109%; }
.emoji-hushed { background-position: 0 46.208531%; }
.emoji-jack_o_lantern { background-position: 7.701422% 46.208531%; }
.emoji-jumping_spider { background-position: 15.402844% 46.208531%; }
.emoji-jumping_spider_red { background-position: 23.104265% 46.208531%; }
.emoji-kagetsuki { background-position: 30.805687% 46.208531%; }
.emoji-kissing { background-position: 38.507109% 46.208531%; }
.emoji-kissing_cat_face_with_closed_eyes { background-position: 46.208531% 46.208531%; }
.emoji-kissing_closed_eyes { background-position: 53.909953% 46.208531%; }
.emoji-kissing_heart { background-position: 61.611374% 46.208531%; }
.emoji-kissing_smiling_eyes { background-position: 69.312796% 46.208531%; }
.emoji-koala { background-position: 77.014218% 46.208531%; }
.emoji-ksroom { background-position: 84.715640% 46.208531%; }
.emoji-lambda_chi_alpha { background-position: 92.417062% 46.208531%; }
.emoji-last_quarter_moon { background-position: 100.118483% 46.208531%; }
.emoji-laughing { background-position: 0 53.909953%; }
.emoji-loudly_crying_face { background-position: 7.701422% 53.909953%; }
.emoji-love_hotel { background-position: 15.402844% 53.909953%; }
.emoji-mens_symbol { background-position: 23.104265% 53.909953%; }
.emoji-microphone { background-position: 30.805687% 53.909953%; }
.emoji-milky_way { background-position: 38.507109% 53.909953%; }
.emoji-monster { background-position: 46.208531% 53.909953%; }
.emoji-moon_with_face { background-position: 53.909953% 53.909953%; }
.emoji-mount_fuji { background-position: 61.611374% 53.909953%; }
.emoji-new_moon { background-position: 69.312796% 53.909953%; }
.emoji-ninja { background-position: 77.014218% 53.909953%; }
.emoji-no_one_under_eighteen_symbol { background-position: 84.715640% 53.909953%; }
.emoji-ocean_dive_view { background-position: 92.417062% 53.909953%; }
.emoji-octopus { background-position: 100.118483% 53.909953%; }
.emoji-open_mouth { background-position: 0 61.611374%; }
.emoji-palm_pre3 { background-position: 7.701422% 61.611374%; }
.emoji-paw_prints { background-position: 15.402844% 61.611374%; }
.emoji-pegasus_black { background-position: 23.104265% 61.611374%; }
.emoji-penguin { background-position: 30.805687% 61.611374%; }
.emoji-penguin_chick { background-position: 38.507109% 61.611374%; }
.emoji-pensive_face { background-position: 46.208531% 61.611374%; }
.emoji-persevering_face { background-position: 53.909953% 61.611374%; }
.emoji-person_bowing_deeply { background-position: 61.611374% 61.611374%; }
.emoji-person_frowning { background-position: 69.312796% 61.611374%; }
.emoji-person_raising_both_hands_in_celebration { background-position: 77.014218% 61.611374%; }
.emoji-person_with_folded_hands { background-position: 84.715640% 61.611374%; }
.emoji-person_with_pouting_face { background-position: 92.417062% 61.611374%; }
.emoji-pill { background-position: 100.118483% 61.611374%; }
.emoji-pistol { background-position: 0 69.312796%; }
.emoji-pizza { background-position: 7.701422% 69.312796%; }
.emoji-poop { background-position: 15.402844% 69.312796%; }
.emoji-pouting_cat_face { background-position: 23.104265% 69.312796%; }
.emoji-pouting_face { background-position: 30.805687% 69.312796%; }
.emoji-puke_finger { background-position: 38.507109% 69.312796%; }
.emoji-quoll { background-position: 46.208531% 69.312796%; }
.emoji-rainbow { background-position: 53.909953% 69.312796%; }
.emoji-rainbow_sky { background-position: 61.611374% 69.312796%; }
.emoji-rainbow_solid { background-position: 69.312796% 69.312796%; }
.emoji-relaxed { background-position: 77.014218% 69.312796%; }
.emoji-relieved { background-position: 84.715640% 69.312796%; }
.emoji-rice_ball { background-position: 92.417062% 69.312796%; }
.emoji-ruby { background-position: 100.118483% 69.312796%; }
.emoji-RV { background-position: 0 77.014218%; }
.emoji-satisfied { background-position: 7.701422% 77.014218%; }
.emoji-scuba_diver { background-position: 15.402844% 77.014218%; }
.emoji-see_no_evil_monkey { background-position: 23.104265% 77.014218%; }
.emoji-ship { background-position: 30.805687% 77.014218%; }
.emoji-shit { background-position: 38.507109% 77.014218%; }
.emoji-shooting_star { background-position: 46.208531% 77.014218%; }
.emoji-skull { background-position: 53.909953% 77.014218%; }
.emoji-sleeping { background-position: 61.611374% 77.014218%; }
.emoji-smile { background-position: 69.312796% 77.014218%; }
.emoji-smiley { background-position: 77.014218% 77.014218%; }
.emoji-smiling_cat_face_with_heart_shaped_eyes { background-position: 84.715640% 77.014218%; }
.emoji-smiling_cat_face_with_open_mouth { background-position: 92.417062% 77.014218%; }
.emoji-smiling_face { background-position: 100.118483% 77.014218%; }
.emoji-smirk { background-position: 0 84.715640%; }
.emoji-snail { background-position: 7.701422% 84.715640%; }
.emoji-snake { background-position: 15.402844% 84.715640%; }
.emoji-snowboarder { background-position: 23.104265% 84.715640%; }
.emoji-speak_no_evil_monkey { background-position: 30.805687% 84.715640%; }
.emoji-speech_balloon { background-position: 38.507109% 84.715640%; }
.emoji-spouting_whale { background-position: 46.208531% 84.715640%; }
.emoji-stuck_out_tongue { background-position: 53.909953% 84.715640%; }
.emoji-stuck_out_tongue_closed_eyes { background-position: 61.611374% 84.715640%; }
.emoji-stuck_out_tongue_winking_eye { background-position: 69.312796% 84.715640%; }
.emoji-sun { background-position: 77.014218% 84.715640%; }
.emoji-sun_with_face { background-position: 84.715640% 84.715640%; }
.emoji-sunrise_over_mountains { background-position: 92.417062% 84.715640%; }
.emoji-sweat { background-position: 100.118483% 84.715640%; }
.emoji-sweat_smile { background-position: 0 92.417062%; }
.emoji-tangerine { background-position: 7.701422% 92.417062%; }
.emoji-tennis_racquet_and_ball { background-position: 15.402844% 92.417062%; }
.emoji-thumbs_up_sign { background-position: 23.104265% 92.417062%; }
.emoji-tropical_drink { background-position: 30.805687% 92.417062%; }
.emoji-two_men_holding_hands { background-position: 38.507109% 92.417062%; }
.emoji-two_men_in_love { background-position: 46.208531% 92.417062%; }
.emoji-two_men_with_heart { background-position: 53.909953% 92.417062%; }
.emoji-two_women_holding_hands { background-position: 61.611374% 92.417062%; }
.emoji-two_women_in_love { background-position: 69.312796% 92.417062%; }
.emoji-two_women_with_heart { background-position: 77.014218% 92.417062%; }
.emoji-unamused { background-position: 84.715640% 92.417062%; }
.emoji-victory_hand { background-position: 92.417062% 92.417062%; }
.emoji-video_game { background-position: 100.118483% 92.417062%; }
.emoji-waxing_gibbous_moon { background-position: 0 100.118483%; }
.emoji-weary_cat_face { background-position: 7.701422% 100.118483%; }
.emoji-weary_face { background-position: 15.402844% 100.118483%; }
.emoji-wheelchair { background-position: 23.104265% 100.118483%; }
.emoji-white_smiling_face { background-position: 30.805687% 100.118483%; }
.emoji-wink { background-position: 38.507109% 100.118483%; }
.emoji-wink2 { background-position: 46.208531% 100.118483%; }
.emoji-wolf_face { background-position: 53.909953% 100.118483%; }
.emoji-worried { background-position: 61.611374% 100.118483%; }
