/* sprite saved to ./emoji.png */
.emoji { background: url(emoji.png) no-repeat; display: inline-block; min-width: 0px; min-height: 0px; }
.emoji-0000-blank { background-position: -0px -0px; }
.emoji-anchor { background-position: -0px -19px; }
.emoji-angry_face { background-position: -0px -37px; }
.emoji-anguished { background-position: -0px -56px; }
.emoji-assault_rifle { background-position: -0px -74px; }
.emoji-astonished_face { background-position: -0px -93px; }
.emoji-bactrian_camel { background-position: -0px -111px; }
.emoji-bento_box { background-position: -0px -130px; }
.emoji-blowfish { background-position: -0px -148px; }
.emoji-blush { background-position: -0px -167px; }
.emoji-boar { background-position: -0px -185px; }
.emoji-bowtie { background-position: -0px -204px; }
.emoji-bus_stop { background-position: -0px -222px; }
.emoji-cactus { background-position: -0px -241px; }
.emoji-cake { background-position: -0px -259px; }
.emoji-cancer { background-position: -0px -278px; }
.emoji-car { background-position: -0px -296px; }
.emoji-cat_face { background-position: -0px -315px; }
.emoji-cat_face_with_tears_of_joy { background-position: -0px -333px; }
.emoji-cat_face_with_wry_smile { background-position: -0px -352px; }
.emoji-chicken { background-position: -0px -370px; }
.emoji-circled_ideograph_secret { background-position: -0px -389px; }
.emoji-cloud { background-position: -0px -407px; }
.emoji-confused { background-position: -0px -426px; }
.emoji-couple_holding_hands { background-position: -0px -444px; }
.emoji-couple_in_love { background-position: -0px -463px; }
.emoji-couple_with_heart { background-position: -0px -481px; }
.emoji-crescent_moon { background-position: -0px -500px; }
.emoji-crying_cat_face { background-position: -0px -518px; }
.emoji-crying_face { background-position: -0px -537px; }
.emoji-cyclone { background-position: -0px -555px; }
.emoji-disappointed_but_relieved_face { background-position: -0px -574px; }
.emoji-disappointed_face { background-position: -0px -592px; }
.emoji-dizzy_face { background-position: -0px -611px; }
.emoji-dog_face { background-position: -0px -629px; }
.emoji-drunk { background-position: -0px -648px; }
.emoji-elephant { background-position: -0px -666px; }
.emoji-expressionless { background-position: -0px -685px; }
.emoji-extraterrestrial_alien { background-position: -0px -703px; }
.emoji-face_savouring_delicious_food { background-position: -0px -722px; }
.emoji-face_with_look_of_triumph { background-position: -0px -740px; }
.emoji-face_with_medical_mask { background-position: -0px -759px; }
.emoji-face_with_no_good_gesture { background-position: -0px -777px; }
.emoji-face_with_ok_gesture { background-position: -0px -796px; }
.emoji-face_with_open_mouth_and_cold_sweat { background-position: -0px -814px; }
.emoji-face_with_tear_of_joy { background-position: -0px -833px; }
.emoji-family { background-position: -0px -851px; }
.emoji-family_daughters { background-position: -0px -870px; }
.emoji-fearful_face { background-position: -0px -888px; }
.emoji-first_quarter_moon { background-position: -0px -907px; }
.emoji-fish_cake_with_swirl_design { background-position: -0px -925px; }
.emoji-flushed { background-position: -0px -944px; }
.emoji-frog_face { background-position: -0px -962px; }
.emoji-frowning { background-position: -0px -981px; }
.emoji-full_moon { background-position: -0px -999px; }
.emoji-genshin { background-position: -0px -1018px; }
.emoji-ghost { background-position: -0px -1036px; }
.emoji-glowing_star { background-position: -0px -1055px; }
.emoji-grimacing { background-position: -0px -1073px; }
.emoji-grin { background-position: -0px -1092px; }
.emoji-grinning { background-position: -0px -1110px; }
.emoji-grinning_cat_face_with_smiling_eyes { background-position: -0px -1129px; }
.emoji-groupme { background-position: -0px -1147px; }
.emoji-guitar { background-position: -0px -1166px; }
.emoji-hamburger { background-position: -0px -1184px; }
.emoji-happijar { background-position: -0px -1203px; }
.emoji-happy_person_raising_one_hand { background-position: -0px -1221px; }
.emoji-hatching_chick { background-position: -0px -1240px; }
.emoji-hear_no_evil_monkey { background-position: -0px -1258px; }
.emoji-heart { background-position: -0px -1277px; }
.emoji-heart_eyes { background-position: -0px -1295px; }
.emoji-high_voltage_sign { background-position: -0px -1314px; }
.emoji-horse { background-position: -0px -1332px; }
.emoji-hot_beverage { background-position: -0px -1351px; }
.emoji-hushed { background-position: -0px -1369px; }
.emoji-jack_o_lantern { background-position: -0px -1388px; }
.emoji-jumping_spider { background-position: -0px -1406px; }
.emoji-jumping_spider_red { background-position: -0px -1425px; }
.emoji-kagetsuki { background-position: -0px -1443px; }
.emoji-kissing { background-position: -0px -1462px; }
.emoji-kissing_cat_face_with_closed_eyes { background-position: -0px -1480px; }
.emoji-kissing_closed_eyes { background-position: -0px -1499px; }
.emoji-kissing_heart { background-position: -0px -1517px; }
.emoji-kissing_smiling_eyes { background-position: -0px -1536px; }
.emoji-koala { background-position: -0px -1554px; }
.emoji-last_quarter_moon { background-position: -0px -1573px; }
.emoji-laughing { background-position: -0px -1591px; }
.emoji-loudly_crying_face { background-position: -0px -1610px; }
.emoji-love_hotel { background-position: -0px -1628px; }
.emoji-mens_symbol { background-position: -0px -1647px; }
.emoji-microphone { background-position: -0px -1665px; }
.emoji-milky_way { background-position: -0px -1684px; }
.emoji-moon_with_face { background-position: -0px -1702px; }
.emoji-mount_fuji { background-position: -0px -1721px; }
.emoji-new_moon { background-position: -0px -1739px; }
.emoji-ninja { background-position: -0px -1758px; }
.emoji-no_one_under_eighteen_symbol { background-position: -0px -1776px; }
.emoji-octopus { background-position: -0px -1795px; }
.emoji-open_mouth { background-position: -0px -1813px; }
.emoji-paw_prints { background-position: -0px -1832px; }
.emoji-penguin { background-position: -0px -1850px; }
.emoji-pensive_face { background-position: -0px -1869px; }
.emoji-persevering_face { background-position: -0px -1887px; }
.emoji-person_bowing_deeply { background-position: -0px -1906px; }
.emoji-person_frowning { background-position: -0px -1924px; }
.emoji-person_raising_both_hands_in_celebration { background-position: -0px -1943px; }
.emoji-person_with_folded_hands { background-position: -0px -1961px; }
.emoji-person_with_pouting_face { background-position: -0px -1980px; }
.emoji-pill { background-position: -0px -1998px; }
.emoji-pistol { background-position: -0px -2017px; }
.emoji-pizza { background-position: -0px -2035px; }
.emoji-poop { background-position: -0px -2054px; }
.emoji-pouting_cat_face { background-position: -0px -2072px; }
.emoji-pouting_face { background-position: -0px -2091px; }
.emoji-rainbow { background-position: -0px -2109px; }
.emoji-rainbow_sky { background-position: -0px -2128px; }
.emoji-rainbow_solid { background-position: -0px -2146px; }
.emoji-relaxed { background-position: -0px -2165px; }
.emoji-relieved { background-position: -0px -2183px; }
.emoji-rice_ball { background-position: -0px -2202px; }
.emoji-ruby { background-position: -0px -2220px; }
.emoji-RV { background-position: -0px -2239px; }
.emoji-satisfied { background-position: -0px -2257px; }
.emoji-see_no_evil_monkey { background-position: -0px -2276px; }
.emoji-ship { background-position: -0px -2294px; }
.emoji-shooting_star { background-position: -0px -2313px; }
.emoji-skull { background-position: -0px -2331px; }
.emoji-sleeping { background-position: -0px -2350px; }
.emoji-smile { background-position: -0px -2368px; }
.emoji-smiley { background-position: -0px -2387px; }
.emoji-smiling_cat_face_with_heart_shaped_eyes { background-position: -0px -2405px; }
.emoji-smiling_cat_face_with_open_mouth { background-position: -0px -2424px; }
.emoji-smiling_face { background-position: -0px -2442px; }
.emoji-smirk { background-position: -0px -2461px; }
.emoji-snail { background-position: -0px -2479px; }
.emoji-snake { background-position: -0px -2498px; }
.emoji-snowboarder { background-position: -0px -2516px; }
.emoji-speak_no_evil_monkey { background-position: -0px -2535px; }
.emoji-spouting_whale { background-position: -0px -2553px; }
.emoji-stuck_out_tongue { background-position: -0px -2572px; }
.emoji-stuck_out_tongue_closed_eyes { background-position: -0px -2590px; }
.emoji-stuck_out_tongue_winking_eye { background-position: -0px -2609px; }
.emoji-sun { background-position: -0px -2627px; }
.emoji-sun_with_face { background-position: -0px -2646px; }
.emoji-sweat { background-position: -0px -2664px; }
.emoji-sweat_smile { background-position: -0px -2683px; }
.emoji-tangerine { background-position: -0px -2701px; }
.emoji-tennis_racquet_and_ball { background-position: -0px -2720px; }
.emoji-thumbs_up_sign { background-position: -0px -2738px; }
.emoji-two_men_holding_hands { background-position: -0px -2757px; }
.emoji-two_men_in_love { background-position: -0px -2775px; }
.emoji-two_men_with_heart { background-position: -0px -2794px; }
.emoji-two_women_holding_hands { background-position: -0px -2812px; }
.emoji-two_women_in_love { background-position: -0px -2831px; }
.emoji-two_women_with_heart { background-position: -0px -2849px; }
.emoji-unamused { background-position: -0px -2868px; }
.emoji-victory_hand { background-position: -0px -2886px; }
.emoji-video_game { background-position: -0px -2905px; }
.emoji-waxing_gibbous_moon { background-position: -0px -2923px; }
.emoji-weary_cat_face { background-position: -0px -2942px; }
.emoji-weary_face { background-position: -0px -2960px; }
.emoji-wink { background-position: -0px -2979px; }
.emoji-wink2 { background-position: -0px -2997px; }
.emoji-wolf_face { background-position: -0px -3016px; }
.emoji-worried { background-position: -0px -3034px; }
