/* sprite saved to ./emoji.png */
.emoji { background: url(emoji.png) no-repeat; display: inline-block; min-width: 0px; min-height: 0px; }
.emoji-0000-blank { background-position: -0px -0px; }
.emoji-anchor { background-position: -0px -25px; }
.emoji-angry_face { background-position: -0px -50px; }
.emoji-anguished { background-position: -0px -74px; }
.emoji-assault_rifle { background-position: -0px -99px; }
.emoji-astonished_face { background-position: -0px -124px; }
.emoji-bactrian_camel { background-position: -0px -148px; }
.emoji-bento_box { background-position: -0px -173px; }
.emoji-blowfish { background-position: -0px -198px; }
.emoji-blush { background-position: -0px -222px; }
.emoji-boar { background-position: -0px -247px; }
.emoji-bowtie { background-position: -0px -272px; }
.emoji-bus_stop { background-position: -0px -296px; }
.emoji-cactus { background-position: -0px -321px; }
.emoji-cake { background-position: -0px -346px; }
.emoji-cancer { background-position: -0px -370px; }
.emoji-car { background-position: -0px -395px; }
.emoji-cat_face { background-position: -0px -420px; }
.emoji-cat_face_with_tears_of_joy { background-position: -0px -444px; }
.emoji-cat_face_with_wry_smile { background-position: -0px -469px; }
.emoji-chicken { background-position: -0px -494px; }
.emoji-circled_ideograph_secret { background-position: -0px -518px; }
.emoji-cloud { background-position: -0px -543px; }
.emoji-confused { background-position: -0px -568px; }
.emoji-couple_holding_hands { background-position: -0px -592px; }
.emoji-couple_in_love { background-position: -0px -617px; }
.emoji-couple_with_heart { background-position: -0px -642px; }
.emoji-crescent_moon { background-position: -0px -666px; }
.emoji-crying_cat_face { background-position: -0px -691px; }
.emoji-crying_face { background-position: -0px -716px; }
.emoji-cyclone { background-position: -0px -740px; }
.emoji-disappointed_but_relieved_face { background-position: -0px -765px; }
.emoji-disappointed_face { background-position: -0px -790px; }
.emoji-dizzy_face { background-position: -0px -814px; }
.emoji-dog_face { background-position: -0px -839px; }
.emoji-drunk { background-position: -0px -864px; }
.emoji-elephant { background-position: -0px -888px; }
.emoji-expressionless { background-position: -0px -913px; }
.emoji-extraterrestrial_alien { background-position: -0px -938px; }
.emoji-face_savouring_delicious_food { background-position: -0px -962px; }
.emoji-face_with_look_of_triumph { background-position: -0px -987px; }
.emoji-face_with_medical_mask { background-position: -0px -1012px; }
.emoji-face_with_no_good_gesture { background-position: -0px -1036px; }
.emoji-face_with_ok_gesture { background-position: -0px -1061px; }
.emoji-face_with_open_mouth_and_cold_sweat { background-position: -0px -1086px; }
.emoji-face_with_tear_of_joy { background-position: -0px -1110px; }
.emoji-family { background-position: -0px -1135px; }
.emoji-family_daughters { background-position: -0px -1160px; }
.emoji-fearful_face { background-position: -0px -1184px; }
.emoji-first_quarter_moon { background-position: -0px -1209px; }
.emoji-fish_cake_with_swirl_design { background-position: -0px -1234px; }
.emoji-flushed { background-position: -0px -1258px; }
.emoji-frog_face { background-position: -0px -1283px; }
.emoji-frowning { background-position: -0px -1308px; }
.emoji-full_moon { background-position: -0px -1332px; }
.emoji-genshin { background-position: -0px -1357px; }
.emoji-ghost { background-position: -0px -1382px; }
.emoji-glowing_star { background-position: -0px -1406px; }
.emoji-grimacing { background-position: -0px -1431px; }
.emoji-grin { background-position: -0px -1456px; }
.emoji-grinning { background-position: -0px -1480px; }
.emoji-grinning_cat_face_with_smiling_eyes { background-position: -0px -1505px; }
.emoji-groupme { background-position: -0px -1530px; }
.emoji-guitar { background-position: -0px -1554px; }
.emoji-hamburger { background-position: -0px -1579px; }
.emoji-happijar { background-position: -0px -1604px; }
.emoji-happy_person_raising_one_hand { background-position: -0px -1628px; }
.emoji-hatching_chick { background-position: -0px -1653px; }
.emoji-hear_no_evil_monkey { background-position: -0px -1678px; }
.emoji-heart { background-position: -0px -1702px; }
.emoji-heart_eyes { background-position: -0px -1727px; }
.emoji-high_voltage_sign { background-position: -0px -1752px; }
.emoji-horse { background-position: -0px -1776px; }
.emoji-hot_beverage { background-position: -0px -1801px; }
.emoji-hushed { background-position: -0px -1826px; }
.emoji-jack_o_lantern { background-position: -0px -1850px; }
.emoji-jumping_spider { background-position: -0px -1875px; }
.emoji-jumping_spider_red { background-position: -0px -1900px; }
.emoji-kagetsuki { background-position: -0px -1924px; }
.emoji-kissing { background-position: -0px -1949px; }
.emoji-kissing_cat_face_with_closed_eyes { background-position: -0px -1974px; }
.emoji-kissing_closed_eyes { background-position: -0px -1998px; }
.emoji-kissing_heart { background-position: -0px -2023px; }
.emoji-kissing_smiling_eyes { background-position: -0px -2048px; }
.emoji-koala { background-position: -0px -2072px; }
.emoji-last_quarter_moon { background-position: -0px -2097px; }
.emoji-laughing { background-position: -0px -2122px; }
.emoji-loudly_crying_face { background-position: -0px -2146px; }
.emoji-love_hotel { background-position: -0px -2171px; }
.emoji-mens_symbol { background-position: -0px -2196px; }
.emoji-microphone { background-position: -0px -2220px; }
.emoji-milky_way { background-position: -0px -2245px; }
.emoji-moon_with_face { background-position: -0px -2270px; }
.emoji-mount_fuji { background-position: -0px -2294px; }
.emoji-new_moon { background-position: -0px -2319px; }
.emoji-ninja { background-position: -0px -2344px; }
.emoji-no_one_under_eighteen_symbol { background-position: -0px -2368px; }
.emoji-octopus { background-position: -0px -2393px; }
.emoji-open_mouth { background-position: -0px -2418px; }
.emoji-paw_prints { background-position: -0px -2442px; }
.emoji-penguin { background-position: -0px -2467px; }
.emoji-pensive_face { background-position: -0px -2492px; }
.emoji-persevering_face { background-position: -0px -2516px; }
.emoji-person_bowing_deeply { background-position: -0px -2541px; }
.emoji-person_frowning { background-position: -0px -2566px; }
.emoji-person_raising_both_hands_in_celebration { background-position: -0px -2590px; }
.emoji-person_with_folded_hands { background-position: -0px -2615px; }
.emoji-person_with_pouting_face { background-position: -0px -2640px; }
.emoji-pill { background-position: -0px -2664px; }
.emoji-pistol { background-position: -0px -2689px; }
.emoji-pizza { background-position: -0px -2714px; }
.emoji-poop { background-position: -0px -2738px; }
.emoji-pouting_cat_face { background-position: -0px -2763px; }
.emoji-pouting_face { background-position: -0px -2788px; }
.emoji-rainbow { background-position: -0px -2812px; }
.emoji-rainbow_sky { background-position: -0px -2837px; }
.emoji-rainbow_solid { background-position: -0px -2862px; }
.emoji-relaxed { background-position: -0px -2886px; }
.emoji-relieved { background-position: -0px -2911px; }
.emoji-rice_ball { background-position: -0px -2936px; }
.emoji-ruby { background-position: -0px -2960px; }
.emoji-RV { background-position: -0px -2985px; }
.emoji-satisfied { background-position: -0px -3010px; }
.emoji-see_no_evil_monkey { background-position: -0px -3034px; }
.emoji-ship { background-position: -0px -3059px; }
.emoji-shooting_star { background-position: -0px -3084px; }
.emoji-skull { background-position: -0px -3108px; }
.emoji-sleeping { background-position: -0px -3133px; }
.emoji-smile { background-position: -0px -3158px; }
.emoji-smiley { background-position: -0px -3182px; }
.emoji-smiling_cat_face_with_heart_shaped_eyes { background-position: -0px -3207px; }
.emoji-smiling_cat_face_with_open_mouth { background-position: -0px -3232px; }
.emoji-smiling_face { background-position: -0px -3256px; }
.emoji-smirk { background-position: -0px -3281px; }
.emoji-snail { background-position: -0px -3306px; }
.emoji-snake { background-position: -0px -3330px; }
.emoji-snowboarder { background-position: -0px -3355px; }
.emoji-speak_no_evil_monkey { background-position: -0px -3380px; }
.emoji-spouting_whale { background-position: -0px -3404px; }
.emoji-stuck_out_tongue { background-position: -0px -3429px; }
.emoji-stuck_out_tongue_closed_eyes { background-position: -0px -3454px; }
.emoji-stuck_out_tongue_winking_eye { background-position: -0px -3478px; }
.emoji-sun { background-position: -0px -3503px; }
.emoji-sun_with_face { background-position: -0px -3528px; }
.emoji-sweat { background-position: -0px -3552px; }
.emoji-sweat_smile { background-position: -0px -3577px; }
.emoji-tangerine { background-position: -0px -3602px; }
.emoji-tennis_racquet_and_ball { background-position: -0px -3626px; }
.emoji-thumbs_up_sign { background-position: -0px -3651px; }
.emoji-two_men_holding_hands { background-position: -0px -3676px; }
.emoji-two_men_in_love { background-position: -0px -3700px; }
.emoji-two_men_with_heart { background-position: -0px -3725px; }
.emoji-two_women_holding_hands { background-position: -0px -3750px; }
.emoji-two_women_in_love { background-position: -0px -3774px; }
.emoji-two_women_with_heart { background-position: -0px -3799px; }
.emoji-unamused { background-position: -0px -3824px; }
.emoji-victory_hand { background-position: -0px -3848px; }
.emoji-video_game { background-position: -0px -3873px; }
.emoji-waxing_gibbous_moon { background-position: -0px -3898px; }
.emoji-weary_cat_face { background-position: -0px -3922px; }
.emoji-weary_face { background-position: -0px -3947px; }
.emoji-wink { background-position: -0px -3972px; }
.emoji-wink2 { background-position: -0px -3996px; }
.emoji-wolf_face { background-position: -0px -4021px; }
.emoji-worried { background-position: -0px -4046px; }
