/* sprite saved to ./emoji.png */
.emoji { background: url(emoji.png) no-repeat; display: inline-block; min-width: 0px; min-height: 0px; }
.emoji-0000-blank { background-position: -0px -0px; }
.emoji-anchor { background-position: -0px -30px; }
.emoji-angry_face { background-position: -0px -60px; }
.emoji-anguished { background-position: -0px -89px; }
.emoji-assault_rifle { background-position: -0px -119px; }
.emoji-astonished_face { background-position: -0px -148px; }
.emoji-bactrian_camel { background-position: -0px -178px; }
.emoji-bento_box { background-position: -0px -208px; }
.emoji-blowfish { background-position: -0px -237px; }
.emoji-blush { background-position: -0px -267px; }
.emoji-boar { background-position: -0px -296px; }
.emoji-bowtie { background-position: -0px -326px; }
.emoji-bus_stop { background-position: -0px -356px; }
.emoji-cactus { background-position: -0px -385px; }
.emoji-cake { background-position: -0px -415px; }
.emoji-cancer { background-position: -0px -444px; }
.emoji-car { background-position: -0px -474px; }
.emoji-cat_face { background-position: -0px -504px; }
.emoji-cat_face_with_tears_of_joy { background-position: -0px -533px; }
.emoji-cat_face_with_wry_smile { background-position: -0px -563px; }
.emoji-chicken { background-position: -0px -592px; }
.emoji-circled_ideograph_secret { background-position: -0px -622px; }
.emoji-cloud { background-position: -0px -652px; }
.emoji-confused { background-position: -0px -681px; }
.emoji-couple_holding_hands { background-position: -0px -711px; }
.emoji-couple_in_love { background-position: -0px -740px; }
.emoji-couple_with_heart { background-position: -0px -770px; }
.emoji-crescent_moon { background-position: -0px -800px; }
.emoji-crying_cat_face { background-position: -0px -829px; }
.emoji-crying_face { background-position: -0px -859px; }
.emoji-cyclone { background-position: -0px -888px; }
.emoji-disappointed_but_relieved_face { background-position: -0px -918px; }
.emoji-disappointed_face { background-position: -0px -948px; }
.emoji-dizzy_face { background-position: -0px -977px; }
.emoji-dog_face { background-position: -0px -1007px; }
.emoji-drunk { background-position: -0px -1036px; }
.emoji-elephant { background-position: -0px -1066px; }
.emoji-expressionless { background-position: -0px -1096px; }
.emoji-extraterrestrial_alien { background-position: -0px -1125px; }
.emoji-face_savouring_delicious_food { background-position: -0px -1155px; }
.emoji-face_with_look_of_triumph { background-position: -0px -1184px; }
.emoji-face_with_medical_mask { background-position: -0px -1214px; }
.emoji-face_with_no_good_gesture { background-position: -0px -1244px; }
.emoji-face_with_ok_gesture { background-position: -0px -1273px; }
.emoji-face_with_open_mouth_and_cold_sweat { background-position: -0px -1303px; }
.emoji-face_with_tear_of_joy { background-position: -0px -1332px; }
.emoji-family { background-position: -0px -1362px; }
.emoji-family_daughters { background-position: -0px -1392px; }
.emoji-fearful_face { background-position: -0px -1421px; }
.emoji-first_quarter_moon { background-position: -0px -1451px; }
.emoji-fish_cake_with_swirl_design { background-position: -0px -1480px; }
.emoji-flushed { background-position: -0px -1510px; }
.emoji-frog_face { background-position: -0px -1540px; }
.emoji-frowning { background-position: -0px -1569px; }
.emoji-full_moon { background-position: -0px -1599px; }
.emoji-genshin { background-position: -0px -1628px; }
.emoji-ghost { background-position: -0px -1658px; }
.emoji-glowing_star { background-position: -0px -1688px; }
.emoji-grimacing { background-position: -0px -1717px; }
.emoji-grin { background-position: -0px -1747px; }
.emoji-grinning { background-position: -0px -1776px; }
.emoji-grinning_cat_face_with_smiling_eyes { background-position: -0px -1806px; }
.emoji-groupme { background-position: -0px -1836px; }
.emoji-guitar { background-position: -0px -1865px; }
.emoji-hamburger { background-position: -0px -1895px; }
.emoji-happijar { background-position: -0px -1924px; }
.emoji-happy_person_raising_one_hand { background-position: -0px -1954px; }
.emoji-hatching_chick { background-position: -0px -1984px; }
.emoji-hear_no_evil_monkey { background-position: -0px -2013px; }
.emoji-heart { background-position: -0px -2043px; }
.emoji-heart_eyes { background-position: -0px -2072px; }
.emoji-high_voltage_sign { background-position: -0px -2102px; }
.emoji-horse { background-position: -0px -2132px; }
.emoji-hot_beverage { background-position: -0px -2161px; }
.emoji-hushed { background-position: -0px -2191px; }
.emoji-jack_o_lantern { background-position: -0px -2220px; }
.emoji-jumping_spider { background-position: -0px -2250px; }
.emoji-jumping_spider_red { background-position: -0px -2280px; }
.emoji-kagetsuki { background-position: -0px -2309px; }
.emoji-kissing { background-position: -0px -2339px; }
.emoji-kissing_cat_face_with_closed_eyes { background-position: -0px -2368px; }
.emoji-kissing_closed_eyes { background-position: -0px -2398px; }
.emoji-kissing_heart { background-position: -0px -2428px; }
.emoji-kissing_smiling_eyes { background-position: -0px -2457px; }
.emoji-koala { background-position: -0px -2487px; }
.emoji-last_quarter_moon { background-position: -0px -2516px; }
.emoji-laughing { background-position: -0px -2546px; }
.emoji-loudly_crying_face { background-position: -0px -2576px; }
.emoji-love_hotel { background-position: -0px -2605px; }
.emoji-mens_symbol { background-position: -0px -2635px; }
.emoji-microphone { background-position: -0px -2664px; }
.emoji-milky_way { background-position: -0px -2694px; }
.emoji-moon_with_face { background-position: -0px -2724px; }
.emoji-mount_fuji { background-position: -0px -2753px; }
.emoji-new_moon { background-position: -0px -2783px; }
.emoji-ninja { background-position: -0px -2812px; }
.emoji-no_one_under_eighteen_symbol { background-position: -0px -2842px; }
.emoji-octopus { background-position: -0px -2872px; }
.emoji-open_mouth { background-position: -0px -2901px; }
.emoji-paw_prints { background-position: -0px -2931px; }
.emoji-penguin { background-position: -0px -2960px; }
.emoji-pensive_face { background-position: -0px -2990px; }
.emoji-persevering_face { background-position: -0px -3020px; }
.emoji-person_bowing_deeply { background-position: -0px -3049px; }
.emoji-person_frowning { background-position: -0px -3079px; }
.emoji-person_raising_both_hands_in_celebration { background-position: -0px -3108px; }
.emoji-person_with_folded_hands { background-position: -0px -3138px; }
.emoji-person_with_pouting_face { background-position: -0px -3168px; }
.emoji-pill { background-position: -0px -3197px; }
.emoji-pistol { background-position: -0px -3227px; }
.emoji-pizza { background-position: -0px -3256px; }
.emoji-poop { background-position: -0px -3286px; }
.emoji-pouting_cat_face { background-position: -0px -3316px; }
.emoji-pouting_face { background-position: -0px -3345px; }
.emoji-rainbow { background-position: -0px -3375px; }
.emoji-rainbow_sky { background-position: -0px -3404px; }
.emoji-rainbow_solid { background-position: -0px -3434px; }
.emoji-relaxed { background-position: -0px -3464px; }
.emoji-relieved { background-position: -0px -3493px; }
.emoji-rice_ball { background-position: -0px -3523px; }
.emoji-ruby { background-position: -0px -3552px; }
.emoji-RV { background-position: -0px -3582px; }
.emoji-satisfied { background-position: -0px -3612px; }
.emoji-see_no_evil_monkey { background-position: -0px -3641px; }
.emoji-ship { background-position: -0px -3671px; }
.emoji-shooting_star { background-position: -0px -3700px; }
.emoji-skull { background-position: -0px -3730px; }
.emoji-sleeping { background-position: -0px -3760px; }
.emoji-smile { background-position: -0px -3789px; }
.emoji-smiley { background-position: -0px -3819px; }
.emoji-smiling_cat_face_with_heart_shaped_eyes { background-position: -0px -3848px; }
.emoji-smiling_cat_face_with_open_mouth { background-position: -0px -3878px; }
.emoji-smiling_face { background-position: -0px -3908px; }
.emoji-smirk { background-position: -0px -3937px; }
.emoji-snail { background-position: -0px -3967px; }
.emoji-snake { background-position: -0px -3996px; }
.emoji-snowboarder { background-position: -0px -4026px; }
.emoji-speak_no_evil_monkey { background-position: -0px -4056px; }
.emoji-spouting_whale { background-position: -0px -4085px; }
.emoji-stuck_out_tongue { background-position: -0px -4115px; }
.emoji-stuck_out_tongue_closed_eyes { background-position: -0px -4144px; }
.emoji-stuck_out_tongue_winking_eye { background-position: -0px -4174px; }
.emoji-sun { background-position: -0px -4204px; }
.emoji-sun_with_face { background-position: -0px -4233px; }
.emoji-sweat { background-position: -0px -4263px; }
.emoji-sweat_smile { background-position: -0px -4292px; }
.emoji-tangerine { background-position: -0px -4322px; }
.emoji-tennis_racquet_and_ball { background-position: -0px -4352px; }
.emoji-thumbs_up_sign { background-position: -0px -4381px; }
.emoji-two_men_holding_hands { background-position: -0px -4411px; }
.emoji-two_men_in_love { background-position: -0px -4440px; }
.emoji-two_men_with_heart { background-position: -0px -4470px; }
.emoji-two_women_holding_hands { background-position: -0px -4500px; }
.emoji-two_women_in_love { background-position: -0px -4529px; }
.emoji-two_women_with_heart { background-position: -0px -4559px; }
.emoji-unamused { background-position: -0px -4588px; }
.emoji-victory_hand { background-position: -0px -4618px; }
.emoji-video_game { background-position: -0px -4648px; }
.emoji-waxing_gibbous_moon { background-position: -0px -4677px; }
.emoji-weary_cat_face { background-position: -0px -4707px; }
.emoji-weary_face { background-position: -0px -4736px; }
.emoji-wink { background-position: -0px -4766px; }
.emoji-wink2 { background-position: -0px -4796px; }
.emoji-wolf_face { background-position: -0px -4825px; }
.emoji-worried { background-position: -0px -4855px; }
